
body {
    /* background-color: #0b3d91; */
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.user-message {
    background-color: rgb(86, 144, 163);
	color: white;
    padding: 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: 0;
    max-width: 90%;
     }

  /* Style for received messages */
  .response-message {
    background-color: rgb(62, 62, 62);
	  color: white;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
    position: relative;
    margin-right: auto;
    max-width: 90%;
  }

  .response-message p {
    margin-right: 40px;
    /* Add more styles here */
  }

  /* Style for the chat container */
  #chat-container {
    display: none;
    margin: 0 auto;
    overflow: auto;
  }

.host-address-select {
  background-color: red;
	color: white;
    padding: 1000px;
    border-radius: 1000px;
}

#chat-history {
    display: flex;
    flex-direction: column;
}

.copy-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0 5px 5px 0;
}

#scroll-wrapper {
  padding-bottom: 5.5rem;
}

#input-area {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

