
body {
    background-color: #0b3d91;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
}

.user-message {
    background-color: rgb(86, 144, 163);
	color: white;
    padding: 10px;
    border-radius: 10px;
     }
  
  /* Style for received messages */
  .response-message {
    background-color: rgb(62, 62, 62);
	  color: white;
    padding: 10px;
    border-radius: 10px;
    padding-right: 20px;
    position: relative;
  }
  
  /* Style for the chat container */
  #chat-container {
    display: none;
    margin: 0 auto;
    overflow: auto;
  }
  
  #chat-history {
    overflow-y: auto;
  }


.copy-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0 5px 5px 0;
}